.box {
    position: fixed;            
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.box.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.form-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.form-overlay.show {
    opacity: 1;
    visibility: visible;
}

h2{
    text-align: center;
    color: rgb(9, 57, 57);
}

input{
    width: 90%;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
}

input[type="checkbox"]{
    accent-color:rgb(48, 25, 221);
    width: auto;
    margin: 8px;
}

span{
    font-size: 13px;
    color: red;
    margin: 8px;
    text-align: justify;
}

button{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: rgb(48, 25, 221);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background: rgb(17, 14, 195);
}

