body {
    /* background-image: url("bobg\ 2.jpg"); */
    background-size: cover;
    /* position: fixed; */
}

.hero {
    position: relative;
    height: 85vh;
    background-image: url("../manage library.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content {
    position: relative;
    transform: translateY(-30px);
    color: white;
    text-align: center;
    z-index: 1;
}

.hero-content p {
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    opacity: 0.9;
}

.hero-content h1 {
    margin-top: 0;
    font-size: 80px;
    margin-bottom: 25px;
}

.manage-button {
    max-width: 200px;
    margin: auto;
}

.manage-button button {
    background: rgb(48, 25, 221);
    color: white;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 15px;
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.25); */
    cursor: pointer;
}

.manage-button button:hover {
    background-color: rgb(17, 14, 195);
    box-shadow: 0px 2px 5px rgb(88, 98, 243);
}

.about {
    background: #f8f9fc;
    padding: 100px 0;
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.05);
}

.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: auto;
    align-items: center;
    width: 85%;
    gap: 50px;
    padding: 0 20px;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 100%;
    max-width: 420px;
    border-radius: 8px;
}

.about-text {
    flex: 1;
}

.about-text ul {
    list-style: none;
}

.about-tag {
    color: #ff4d4d;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.5px;
    display: block;
    margin-bottom: 10px;
}

.about-text .about-h2 {
    text-align: left;
    /* margin-left: 0; */
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #0b0b2c;
}

.about-text p {
    color: #555;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 15px;
    max-width: 620px;
}

.whyUs{
    padding: 100px 0;
    background: #ffffff;
}

.why-conatiner{
    width: 85%;
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
    gap: 50px;
}

.why-text{
    flex: 1;
}

.why-tag{
    display: block;
    color: #ff4d4d;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.why-h2{
    text-align: left;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #0b0b2c;
}

.why-text p{
    color: #555;
    line-height: 1.7;
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 620px;
}

.why-features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.feature{
    background: #fff;
    padding: 25px 22px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    cursor: pointer;
}

.feature:hover{
    background: #fffdfda3;
    transform: translateY(-6px);
    box-shadow: 0 25px 50px rgba(0,0,0,0.12);
}

.feature .icon{
    width: 55px;
    height: 55px;
    background: #3f37c9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.feature .icon i{
    color: #fff;
    font-size: 22px;
}

.feature h4{
    font-size: 18px;
    margin-bottom: 8px;
    color: #111;
}

.feature p{
    font-size: 15px;
    color: #666;
    line-height: 1.6;
}

.why-img{
    flex: 1;
    display: flex;
    justify-content: center;
}

.why-img img{
    width: 100%;
    height: 100%;
    max-width: 420px;
    border-radius: 8px;
}

.contact-sec{
    padding: 100px 0;
    background: #f1f3ff;
}

.contact-container{
    width:85%;
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    align-items: center;
}

.contact-info{
    flex: 1;
    /* color: #000000; */
}

.contact-tag{
    color: #ff4d4d;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.5px;
    display: block;
    margin-bottom: 10px;
}

.contact-info .contact-h2{
    text-align: left;
    color: black;
    font-size: 42px;
    margin-bottom: 20px;
}

.contact-info p{
    color: #555;
    line-height: 1.7;
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 620px;
}

.contact-box{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.contact-box i{
    width: 45px;
    height: 45px;
    background: #3f37c9;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
}

.contact-box h4{
    font-size: 16px;
    margin-bottom: 3px;
}

.contact-box span{
    font-size: 14px;
    color: #535151;
}

.contact-form{
    flex: 1;
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea{
    padding: 14px 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
}

.contact-form textarea{
    resize: none;
    height: 120px;
}

.contact-form button{
    background: #3f37c9;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.contact-form button:hover{
    background: #2d27a8;
}

#scrollTopBtn{
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 45px;
    height: 45px;
    border-radius: 50%;

    background: #3f37c9;
    color: #fff;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;

    z-index: 999;
}

#scrollTopBtn:hover{
    background: #2d27a8;
    transform: translateY(-3px);
}

#scrollTopBtn.show{
    opacity: 1;
    visibility: visible;
}

@media(max-width:576px) {
    .hero-content p {
        font-size: 20px;
        letter-spacing: 1.5px;
        margin-bottom: 10px;
        opacity: 0.9;
    }

    .hero-content h1 {
        margin-top: 0;
        font-size: 50px;
        margin-bottom: 20px;
    }

    .about-tag {
        color: #ff4d4d;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1.5px;
        display: block;
        margin-bottom: 8px;
    }

    .about-text .about-h2 {
        text-align: left;
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 20px;
        color: #0b0b2c;
    }

    .about-text p {
        color: #555;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 15px;
        max-width: 305px;
        text-align: justify;
    }

    .why-tag {
        color: #ff4d4d;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1.5px;
        display: block;
        margin-bottom: 8px;
    }

    .why-h2 {
        text-align: left;
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 20px;
        color: #0b0b2c;
    }

    .why-text p {
        color: #555;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 15px;
        max-width: 305px;
        text-align: justify;
    }

    .contact-tag {
        color: #ff4d4d;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1.5px;
        display: block;
        margin-bottom: 8px;
    }

    .contact-h2 {
        text-align: left;
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 20px;
        color: #0b0b2c;
    }

    .contact-text p {
        color: #555;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 15px;
        max-width: 305px;
        text-align: justify;
    }
     .why-features {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .feature {
        background: #fff;
        padding: 25px 22px;
        border-radius: 8px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
        cursor: pointer;
    }

    .feature .icon {
        width: 55px;
        height: 55px;
        background: #3f37c9;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }

    .feature .icon i {
        color: #fff;
        font-size: 22px;
    }

    .feature h4 {
        font-size: 18px;
        margin-bottom: 8px;
        color: #111;
    }

    .feature p {
        font-size: 15px;
        color: #666;
        line-height: 1.5;
    }
}
