*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}

.container{
    display: flex;
}

.sidebar{
    width: 20%;
    height: auto;
    min-height: 100vh;
    background-color: #002353;
    padding:20px;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    text-align: center;
    margin-bottom: 45px;
    letter-spacing: 3px;
    font-size:xx-large;
    background-color: #033f8a;
    border-radius: 8px;
    padding:12px;
}
.logo i{
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.sidebar ul{
    list-style: none;
    width: 100%;
}

.sidebar ul li{
    padding: 12px 15px;
    width:100%;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
    width: 100%;
}

.sidebar ul li:hover{
    background: #033f8a;
    transform: translateX(5px);
    transition: 0.2s;
}

.settings li{
    margin-top: 20px;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.settings li:hover {
    background-color: #033f8a;
    transform: translateX(5px);
}

.main {
    width: 80%;
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #e3edfb;
    background-image: url("liberary1.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.topbar{
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 2%;
}
.user{
    background-color:#002353 ;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.welcome{
    padding: 15px 40px;
    padding-left: 38%;
    padding-top: 5%;
    background: transparent;
    color: white;
    h3 {
        font-size: 60px;
    }
    p{
        font-size: x-large;
        padding: 10px;
    }
}
.assign-cards{
    display: flex;
    margin: 20px 0;
    gap: 20px;
}

.assign-card{
    text-align: center;
    width: 30%;
    padding: 20px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}

.assign-card:hover{
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    background-color: #e0edff; 
}
.section-title{
    margin: 20px 0;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.course-card{
    text-align: center;
    background-color: white;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.course-card{
    p{
        color:#6b7280;
        padding: 2px;
    }
    h2{
        padding-bottom: 3px;
    }
}

.course-card button{
    margin-top:10px;
    padding:8px 12px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
}
.course-card:hover{
    background-color: #e1eeff;
    box-shadow: 2px 5px 10px 0 rgb(0, 0, 0);
    transform: translateY(-2px);
} 

.course-card button:hover{
    background-color:#1d4ed8;
}

.books{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.book{
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    cursor: pointer;
}
.book:hover{
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    background-color: #e0edff;
}

.welcome-card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
    /* padding-left: 6%; */
}

.card{
    background:#ffffff;
    padding:20px;
    width: 30%;
    border-radius:12px;
    /* text-align: center; */
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
    transition:0.3s;
    cursor: pointer;
}

.card-top{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:10px;
}

.card-icon{
    font-size:30px;
    color:#2563eb;
}

.card h2{
    font-size:28px;
    color:#111827;
    /* align-items:center ; */
}

.card h4{
    margin:10px 0 5px;
    color:#1f2937;
    align-items:center ;
}

.card p{
    font-size:14px;
    color:#6b7280;
    margin-bottom:4px;
}

.card button{
    margin-top:10px;
    padding:8px 12px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
}

.card button:hover{
    background:#1d4ed8;
}

.card:hover{
    background-color: #e1eeff;
    box-shadow: 2px 5px 10px 0 rgb(0, 0, 0);
    transform: translateY(-2px);
}
